@charset "utf-8";
/* CSS Document */

html{overflow-y:scroll;
}
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color:#1D401B;
	margin: 0;
	padding: 0;
	color:#D401B;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a { 
color:#000;
	outline: none;
}


a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

/* ~~this fixed width container surrounds the other divs~~ */
.container {
	width: 960px;
	background-color: #FFF;
	margin: 0 auto; 
}

/* ~~ the header is not given a width. It will extend the full width of your layout.  ~~ */
.header {
	background-color: #ADB96E;
}

/* ~~ These are the columns for the layout. ~~ */


.sidebar1 {
	float: right;
	width: 180px;
	background-color: #58BF52;
	padding-bottom: 10px;
	
}
.content {

	padding: 10px 0;
	width: 780px;
	float: right;
}


.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

/*~~menu~~*/
.menu{
	width: 1000px;
	height: 50px;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #58BF52;
	border: 1px solid #ccc; 
	border-top: none; 
	}
.menu li {
	width:400px; margin: 0 auto; list style:none;
	line height:50px;
	float: ; 
	}
.menu li a {
	display: inline;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #1D401B;
	border-right: 1px solid #ccc; 
	}
.menu li a:hover {
	color: #58BF52;
	background-color: #316B2E; 
	}

/* ~~ The navigation list styles ~~ */
ul.nav {
	list-style: none; 
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px;  
	text-decoration: none;
	background-color: #58BF52;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #316B2E;
	color: #58BF52;
}

/* ~~ The footer ~~ */
.footer {
	padding: 10px 0;
	background-color: #58BF52;
	position: relative;
	clear: both;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
