@charset "utf-8";
/* CSS Document */
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #1D401B;
	margin: 0;
	padding: 0;
	color: #999;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1,h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	position:relative;
}


a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~this fixed width container surrounds the other divs~~ */
.container {
	width: 960px;
	background-color: #1D401B;
	margin: 0 auto; 
}


.header {
	background-color: #1D401B;
	width: 100%;
	height:200px;
	background-image:url(../images/10612779_10152672578053855_5992849442553847910_n.jpg);
	
}
.nav { 
  height: 44px;
  width: 960px;
  float: right;
  margin: 0 auto 0 auto;
  color: #222;
  background: #5A3B02;
} 

ul.links{
	list-style-type:none;
}
ul.links li{
	float:right;
}
ul.links li{
	color:
	text-decoration:none;
	display:block;
	width:120px;
	height:40px;
	font-size:1em;
	background-color:;
	text-align:center;
}
/*8888888*/



/* ~~ These are the columns for the layout. ~~ */
.sidebar1 {
	float: right;
	width: 180px;
	background-color: #5a3b02;
	padding-bottom: 10px;
}

#block-user-login .content{
	width:180px;
}

.content {

	padding: 10px 0;
	width: 780px;
	float: right;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

/* ~~ The navigation list styles  ~~ */
ul.nav {
	
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; 
	margin-bottom: 15px; 
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px;  
	text-decoration: none;
	background-color: #5a3b02;
	color:#999;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #205221;
	color: #CCC;
}

/* ~~ The footer ~~ */
.footer {
	padding: 5px 0;
	background-color: ##1D401B;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; 

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}